<a href="https://colab.research.google.com/github/raistra/Kelompok-E-Data-Mining-B/blob/main/Tugas_1_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas import read_csv

In [ ]:
# Loading Data:
try: # Running Locally, yakinkan "file_" berada di folder "data"
    jakarta = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    depok = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bogor = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tangerang = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')    
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bogor.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/tangerang.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bekasi.csv
    jakarta = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    depok = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tangerang = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')
    
jakarta.shape, depok.shape, bekasi.shape, tangerang.shape, bekasi.shape

((1024, 26), (998, 26), (992, 26), (128, 26), (992, 26))

Created_at: Tanggal dimana iklan rumah dibuat

LT : Luas Tanah properti yang ditawarkan

LB : Luas Bangunan properti yang ditawarkan

KT : Jumlah Kamar Tidur properti yang ditawarkan

KM : Jumlah Kamar Mandi properti yang ditawarkan

Garasi : Jumlah Kapasitas Garasi di properti yang ditawarkan

Carport : Kapasitas Carport di properti yang ditawarkan

Lokasi : Detail lokasi properti yang ditawarkan

Sertifikat: Jenis sertifikat properti yang ditawarkan

Listrik : Daya listrik dari properti yang ditawarkan

Hadap : Keterangan property yang ditawarkan menghadap ke arah mana

Harga : Harga property yang ditawarkan dalam Rupiah

URL : Alamat tautan (link) property yang ditawarkan.

Deskripsi : Deskripsi iklan property yang ditawarkan.

## **1. Kualitas Data**

### Tangerang

In [ ]:
tangerang.head()

In [ ]:
#Informasi dataset
tangerang.info()

In [ ]:
#Memeriksa Missing-Value pada Data 
print('Jumlah Missing-Value pada Setiap Kolom:')
print(tangerang.isnull().sum())

In [ ]:
#Menghapus kolom Unnamed karena berisi NaN
tangerang = tangerang.drop(tangerang.columns[[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]], axis=1)

In [ ]:
#Menghapus Nilai NaN
tangerang = tangerang.dropna()
tangerang.head()

In [ ]:
print('\nJumlah Missing-Value Total:')
print(tangerang.isnull().sum().sum())

In [ ]:
tangerang.duplicated().sum()

In [ ]:
tangerang.info()

### Jakarta

In [ ]:
jakarta.head()

In [ ]:
jakarta.info()

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(jakarta.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(jakarta.isnull().sum().sum())

In [ ]:
#Menghapus Nilai NaN
jakarta = jakarta.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(jakarta.isnull().sum().sum())

In [ ]:
#cek duplikasi data
jakarta.duplicated().sum()

In [ ]:
#Mengubah Tipe Variabel
jakarta['created_at'] = jakarta['created_at'].astype('category')
jakarta['lokasi'] = jakarta['lokasi'].astype('category')
jakarta['sertifikat'] = jakarta['sertifikat'].astype('category')
jakarta['hadap'] = jakarta['hadap'].astype('category')
jakarta['URL'] = jakarta['URL'].astype('category')
jakarta['deskirpsi'] = jakarta['deskripsi'].astype('category')
jakarta.dtypes

##Depok

In [ ]:
depok.head()

In [ ]:
depok.info()

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(depok.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(depok.isnull().sum().sum())

In [ ]:
#Menghapus Nilai NaN
depok = depok.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(depok.isnull().sum().sum())

In [ ]:
#cek duplikasi data
depok.duplicated().sum()

In [ ]:
#Mengubah Tipe Variabel
depok['created_at'] = depok['created_at'].astype('category')
depok['lokasi'] = depok['lokasi'].astype('category')
depok['sertifikat'] = depok['sertifikat'].astype('category')
depok['hadap'] = depok['hadap'].astype('category')
depok['URL'] = depok['URL'].astype('category')
depok['deskirpsi'] = depok['deskripsi'].astype('category')
depok.dtypes

##Bekasi

In [ ]:
bekasi.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,08-12-2021,71.0,43.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08-12-2021,59.0,60.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-12-2021,124.0,95.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08-12-2021,144.0,100.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08-12-2021,108.0,100.0,3.0,2.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bekasi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   107 non-null    object
 1   LT           107 non-null    float64
 2   LB           107 non-null    float64
 3   KT           107 non-null    float64
 4   KM           106 non-null    float64
 5   garasi       33 non-null     float64
 6   carport      81 non-null     float64
 7   lokasi       107 non-null    object
 8   sertifikat   106 non-null    object
 9   listrik      101 non-null    float64
 10  hadap        48 non-null     object
 11  harga        107 non-null    float64
 12  URL          107 non-null    object
 13  deskripsi    107 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 201.6+ KB

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(bekasi.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(bekasi.isnull().sum().sum())

Jumlah Missing-Value pada Setiap Kolom:
created_at     885
LT             885
LB             885
KT             885
KM             886
garasi         959
carport        911
lokasi         885
sertifikat     886
listrik        891
hadap          944
harga          885
URL            885
deskripsi      885
Unnamed: 14    992
Unnamed: 15    992
Unnamed: 16    992
Unnamed: 17    992
Unnamed: 18    992
Unnamed: 19    992
Unnamed: 20    992
Unnamed: 21    992
Unnamed: 22    992
Unnamed: 23    992
Unnamed: 24    992
Unnamed: 25    992
dtype: int64

Jumlah Missing-Value Total:
24461

In [ ]:
#Menghapus Nilai NaN
bekasi = bekasi.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(bekasi.isnull().sum().sum())

Jumlah Missing-Value Total:
0.0

In [ ]:
#cek duplikasi data
bekasi.duplicated().sum()

0

In [ ]:
bekasi['created_at']=bekasi['created_at'].astype('category')
bekasi['lokasi']=bekasi['lokasi'].astype('category')
bekasi['sertifikat']=bekasi['sertifikat'].astype('category')
bekasi['hadap']=bekasi['hadap'].astype('category')
bekasi['URL']=bekasi['URL'].astype('category')
bekasi['deskripsi']=bekasi['deskripsi'].astype('category')
bekasi.dtypes

created_at     category
LT              float64
LB              float64
KT              float64
KM              float64
garasi          float64
carport         float64
lokasi         category
sertifikat     category
listrik         float64
hadap          category
harga           float64
URL            category
deskripsi      category
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
Unnamed: 19     float64
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
dtype: object

##Bogor

## **2.**

Apakah ada saran perbaikan data ke DE/DBA perusahaan agar RPPI menjadi data driven company yang unggul.

Sebaiknya data dapat lebih simpan dengan efisien agar mudah ketika diolah, seperti tipe data object diubah langsung menjadi category, kemudian penanganan missing values lebih ditingkatkan. Selain itu, terdapat kolom 14-25 yang tidak memiliki atribut apapun. Hal tersebut dapat memperlambat analisis data dikarenakan memori berlebih yang dibutuhkan.

## **3.**

Dari data yang ada, apakah ada kecenderungan rumah disuatu kota lebih mahal/murah dibandingkan kota lain?

## **4.**

Dari data yang ada, apakah bisa dibuat rekomendasi sebaiknya RPPI membuat kantor cabang berikutnya di kota mana? Mengapa? (Asumsikan RPPI belum memiliki cabang di kota-kota yang disebutkan di data).

In [ ]:
data=jakarta.set_index('')

In [ ]:
#Menggabungkan Dataframe Indo20, Indo21, Indo22
gabung = tangerang.append(indo21)
gabung = mob.append(indo22)

In [ ]:
row=pd.concat([jakarta,tangerang])
print("Row-wise-concat:\n",row)