<a href="https://colab.research.google.com/github/raistra/Kelompok-E-Data-Mining-B/blob/main/Tugas_1_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas import read_csv

In [ ]:
# Loading Data:
try: # Running Locally, yakinkan "file_" berada di folder "data"
    jakarta = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    depok = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bogor = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tangerang = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')    
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bogor.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/tangerang.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bekasi.csv
    jakarta = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    depok = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tangerang = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bekasi = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')
    
jakarta.shape, depok.shape, bekasi.shape, tangerang.shape, bekasi.shape

--2022-09-23 08:12:50--  https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/jakarta.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63832 (62K) [text/plain]
Saving to: ‘data/jakarta.csv’

jakarta.csv         100%[===================>]  62.34K  --.-KB/s    in 0.02s

2022-09-23 08:12:51 (4.06 MB/s) - ‘data/jakarta.csv’ saved [63832/63832]

--2022-09-23 08:12:51--  https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/depok.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 43191 (42K) [text/plain]
Saving to: ‘data/depok.csv’

depok.csv           100%[===================>]  42.18K  --.-KB/s    in 0.01s

2022-09-23 08:12:51 (3.17 MB/s) - ‘data/depok.csv’ saved [43191/43191]

--2022-09-23 08:12:51--  https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bogor.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 68006 (66K) [text/plain]
Saving to: ‘data/bogor.csv’

bogor.csv           100%[===================>]  66.41K  --.-KB/s    in 0.02s

2022-09-23 08:12:51 (4.16 MB/s) - ‘data/bogor.csv’ saved [68006/68006]

--2022-09-23 08:12:51--  https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/tangerang.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46485 (45K) [text/plain]
Saving to: ‘data/tangerang.csv’

tangerang.csv       100%[===================>]  45.40K  --.-KB/s    in 0.01s

2022-09-23 08:12:51 (3.46 MB/s) - ‘data/tangerang.csv’ saved [46485/46485]

--2022-09-23 08:12:51--  https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bekasi.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71038 (69K) [text/plain]
Saving to: ‘data/bekasi.csv’

bekasi.csv          100%[===================>]  69.37K  --.-KB/s    in 0.02s

2022-09-23 08:12:51 (4.36 MB/s) - ‘data/bekasi.csv’ saved [71038/71038]

((1024, 26), (998, 26), (992, 26), (128, 26), (992, 26))

Created_at: Tanggal dimana iklan rumah dibuat

LT : Luas Tanah properti yang ditawarkan

LB : Luas Bangunan properti yang ditawarkan

KT : Jumlah Kamar Tidur properti yang ditawarkan

KM : Jumlah Kamar Mandi properti yang ditawarkan

Garasi : Jumlah Kapasitas Garasi di properti yang ditawarkan

Carport : Kapasitas Carport di properti yang ditawarkan

Lokasi : Detail lokasi properti yang ditawarkan

Sertifikat: Jenis sertifikat properti yang ditawarkan

Listrik : Daya listrik dari properti yang ditawarkan

Hadap : Keterangan property yang ditawarkan menghadap ke arah mana

Harga : Harga property yang ditawarkan dalam Rupiah

URL : Alamat tautan (link) property yang ditawarkan.

Deskripsi : Deskripsi iklan property yang ditawarkan.

## **1. Kualitas Data**

### Tangerang

In [ ]:
tangerang.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,12-06-2021,60.0,50.0,3.0,2.0,NaN,NaN,"BSD CITY, TANGERANG",SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12-06-2021,72.0,54.0,2.0,1.0,1.0,1.0,"CISAUK, TANGERANG",SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-06-2021,60.0,48.0,3.0,2.0,2.0,2.0,"CILEDUG, TANGERANG",SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12-06-2021,200.0,225.0,5.0,4.0,NaN,NaN,"LIPPO KARAWACI, TANGERANG",SHM,5500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12-06-2021,76.0,123.0,3.0,3.0,NaN,2.0,"PONDOK CABE, TANGERANG",SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Informasi dataset
tangerang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   124 non-null    object
 1   LT           124 non-null    float64
 2   LB           124 non-null    float64
 3   KT           124 non-null    float64
 4   KM           124 non-null    float64
 5   garasi       38 non-null     float64
 6   carport      92 non-null     float64
 7   lokasi       124 non-null    object
 8   sertifikat   122 non-null    object
 9   listrik      111 non-null    float64
 10  hadap        49 non-null     object
 11  harga        124 non-null    float64
 12  URL          124 non-null    object
 13  deskripsi    124 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 26.1+ KB

In [ ]:
#Memeriksa Missing-Value pada Data 
print('Jumlah Missing-Value pada Setiap Kolom:')
print(tangerang.isnull().sum())

Jumlah Missing-Value pada Setiap Kolom:
created_at       4
LT               4
LB               4
KT               4
KM               4
garasi          90
carport         36
lokasi           4
sertifikat       6
listrik         17
hadap           79
harga            4
URL              4
deskripsi        4
Unnamed: 14    128
Unnamed: 15    128
Unnamed: 16    128
Unnamed: 17    128
Unnamed: 18    128
Unnamed: 19    128
Unnamed: 20    128
Unnamed: 21    128
Unnamed: 22    128
Unnamed: 23    128
Unnamed: 24    128
Unnamed: 25    128
dtype: int64

In [ ]:
#Menghapus kolom Unnamed karena berisi NaN
tangerang = tangerang.drop(tangerang.columns[[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]], axis=1)

In [ ]:
#Menghapus Nilai NaN
tangerang = tangerang.dropna()
tangerang.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
7,12-06-2021,72.0,45.0,2.0,1.0,1.0,1.0,"SEPATAN, TANGERANG",SHM,1300.0,Selatan,148.0,https://www.rumah123.com/properti/tangerang/ho...,"Akses Bandara Soekarno-Hatta, Jalan Row 10 met..."
8,12-06-2021,151.0,120.0,2.0,2.0,1.0,1.0,"CIKUPA CITRA JAYA, TANGERANG",SHM,1300.0,Selatan,760.0,https://www.rumah123.com/properti/tangerang/ho...,Lokasi rumah sangat strategis dekat fasilitas ...
10,12-06-2021,60.0,48.0,3.0,2.0,2.0,2.0,"PONDOK JAGUNG, TANGERANG",SHM,2200.0,Tenggara,600.0,https://www.rumah123.com/properti/tangerang/ho...,Memiliki lokasi yang strategis yaitu 100 meter...
13,12-06-2021,72.0,40.0,2.0,1.0,1.0,1.0,"CIKUPA CITRA JAYA, TANGERANG",SHM,1300.0,Timur,500.0,https://www.rumah123.com/properti/tangerang/ho...,Keamanan 24 jam dan sangat strategis
16,12-06-2021,250.0,360.0,5.0,4.0,1.0,1.0,"BENDA, TANGERANG",SHM,4400.0,Timur,2900.0,https://www.rumah123.com/properti/tangerang/ho...,"Memiliki lantai granit, 1 gudang, Water heater..."

In [ ]:
print('\nJumlah Missing-Value Total:')
print(tangerang.isnull().sum().sum())

Jumlah Missing-Value Total:
0

In [ ]:
tangerang.duplicated().sum()

0

In [ ]:
tangerang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 7 to 121
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  15 non-null     object
 1   LT          15 non-null     float64
 2   LB          15 non-null     float64
 3   KT          15 non-null     float64
 4   KM          15 non-null     float64
 5   garasi      15 non-null     float64
 6   carport     15 non-null     float64
 7   lokasi      15 non-null     object
 8   sertifikat  15 non-null     object
 9   listrik     15 non-null     float64
 10  hadap       15 non-null     object
 11  harga       15 non-null     float64
 12  URL         15 non-null     object
 13  deskripsi   15 non-null     object
dtypes: float64(8), object(6)
memory usage: 1.8+ KB

### Jakarta

In [ ]:
jakarta.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
jakarta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   121 non-null    object
 1   LT           121 non-null    float64
 2   LB           121 non-null    float64
 3   KT           121 non-null    float64
 4   KM           121 non-null    float64
 5   garasi       44 non-null     float64
 6   carport      90 non-null     float64
 7   lokasi       121 non-null    object
 8   sertifikat   119 non-null    object
 9   listrik      120 non-null    float64
 10  hadap        36 non-null     object
 11  harga        121 non-null    float64
 12  URL          121 non-null    object
 13  deskripsi    112 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 208.1+ KB

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(jakarta.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(jakarta.isnull().sum().sum())

Jumlah Missing-Value pada Setiap Kolom:
created_at      903
LT              903
LB              903
KT              903
KM              903
garasi          980
carport         934
lokasi          903
sertifikat      905
listrik         904
hadap           988
harga           903
URL             903
deskripsi       912
Unnamed: 14    1024
Unnamed: 15    1024
Unnamed: 16    1024
Unnamed: 17    1024
Unnamed: 18    1024
Unnamed: 19    1024
Unnamed: 20    1024
Unnamed: 21    1024
Unnamed: 22    1024
Unnamed: 23    1024
Unnamed: 24    1024
Unnamed: 25    1024
dtype: int64

Jumlah Missing-Value Total:
25135

In [ ]:
#Menghapus Nilai NaN
jakarta = jakarta.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(jakarta.isnull().sum().sum())

Jumlah Missing-Value Total:
0.0

In [ ]:
#cek duplikasi data
jakarta.duplicated().sum()

0

In [ ]:
#Mengubah Tipe Variabel
jakarta['created_at'] = jakarta['created_at'].astype('category')
jakarta['lokasi'] = jakarta['lokasi'].astype('category')
jakarta['sertifikat'] = jakarta['sertifikat'].astype('category')
jakarta['hadap'] = jakarta['hadap'].astype('category')
jakarta['URL'] = jakarta['URL'].astype('category')
jakarta['deskirpsi'] = jakarta['deskripsi'].astype('category')
jakarta.dtypes

created_at     category
LT              float64
LB              float64
KT              float64
KM              float64
garasi          float64
carport         float64
lokasi         category
sertifikat     category
listrik         float64
hadap          category
harga           float64
URL            category
deskripsi        object
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
Unnamed: 19     float64
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
deskirpsi      category
dtype: object

##Depok

In [ ]:
depok.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,6-12-2021,165,200.0,4.0,2.0,NaN,1.0,Sukmajaya,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cipayung,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6-12-2021,50,36.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cimanggis,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6-12-2021,72,45.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
depok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   119 non-null    object
 1   LT           120 non-null    object
 2   LB           118 non-null    float64
 3   KT           118 non-null    float64
 4   KM           118 non-null    float64
 5   garasi       25 non-null     float64
 6   carport      94 non-null     float64
 7   lokasi       118 non-null    object
 8   sertifikat   118 non-null    object
 9   listrik      103 non-null    float64
 10  hadap        62 non-null     object
 11  harga        118 non-null    float64
 12  URL          118 non-null    object
 13  deskripsi    118 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(19), object(7)
memory usage: 202.8+ KB

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(depok.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(depok.isnull().sum().sum())

Jumlah Missing-Value pada Setiap Kolom:
created_at     879
LT             878
LB             880
KT             880
KM             880
garasi         973
carport        904
lokasi         880
sertifikat     880
listrik        895
hadap          936
harga          880
URL            880
deskripsi      880
Unnamed: 14    998
Unnamed: 15    998
Unnamed: 16    998
Unnamed: 17    998
Unnamed: 18    998
Unnamed: 19    998
Unnamed: 20    998
Unnamed: 21    998
Unnamed: 22    998
Unnamed: 23    998
Unnamed: 24    998
Unnamed: 25    998
dtype: int64

Jumlah Missing-Value Total:
24481

In [ ]:
#Menghapus Nilai NaN
depok = depok.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(depok.isnull().sum().sum())

Jumlah Missing-Value Total:
0.0

In [ ]:
#cek duplikasi data
depok.duplicated().sum()

0

In [ ]:
#Mengubah Tipe Variabel
depok['created_at'] = depok['created_at'].astype('category')
depok['lokasi'] = depok['lokasi'].astype('category')
depok['sertifikat'] = depok['sertifikat'].astype('category')
depok['hadap'] = depok['hadap'].astype('category')
depok['URL'] = depok['URL'].astype('category')
depok['deskirpsi'] = depok['deskripsi'].astype('category')
depok.dtypes

created_at     category
LT               object
LB              float64
KT              float64
KM              float64
garasi          float64
carport         float64
lokasi         category
sertifikat     category
listrik         float64
hadap          category
harga           float64
URL            category
deskripsi        object
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
Unnamed: 19     float64
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
deskirpsi      category
dtype: object

##Bekasi

In [ ]:
bekasi.head()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,08-12-2021,71.0,43.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08-12-2021,59.0,60.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-12-2021,124.0,95.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08-12-2021,144.0,100.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08-12-2021,108.0,100.0,3.0,2.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bekasi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   107 non-null    object
 1   LT           107 non-null    float64
 2   LB           107 non-null    float64
 3   KT           107 non-null    float64
 4   KM           106 non-null    float64
 5   garasi       33 non-null     float64
 6   carport      81 non-null     float64
 7   lokasi       107 non-null    object
 8   sertifikat   106 non-null    object
 9   listrik      101 non-null    float64
 10  hadap        48 non-null     object
 11  harga        107 non-null    float64
 12  URL          107 non-null    object
 13  deskripsi    107 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 201.6+ KB

In [ ]:
#Missing Value
print('Jumlah Missing-Value pada Setiap Kolom:')
print(bekasi.isnull().sum())

print('\nJumlah Missing-Value Total:')
print(bekasi.isnull().sum().sum())

Jumlah Missing-Value pada Setiap Kolom:
created_at     885
LT             885
LB             885
KT             885
KM             886
garasi         959
carport        911
lokasi         885
sertifikat     886
listrik        891
hadap          944
harga          885
URL            885
deskripsi      885
Unnamed: 14    992
Unnamed: 15    992
Unnamed: 16    992
Unnamed: 17    992
Unnamed: 18    992
Unnamed: 19    992
Unnamed: 20    992
Unnamed: 21    992
Unnamed: 22    992
Unnamed: 23    992
Unnamed: 24    992
Unnamed: 25    992
dtype: int64

Jumlah Missing-Value Total:
24461

In [ ]:
#Menghapus Nilai NaN
bekasi = bekasi.dropna()

#cek ulang
print('\nJumlah Missing-Value Total:')
print(bekasi.isnull().sum().sum())

Jumlah Missing-Value Total:
0.0

In [ ]:
#cek duplikasi data
bekasi.duplicated().sum()

0

In [ ]:
bekasi['created_at']=bekasi['created_at'].astype('category')
bekasi['lokasi']=bekasi['lokasi'].astype('category')
bekasi['sertifikat']=bekasi['sertifikat'].astype('category')
bekasi['hadap']=bekasi['hadap'].astype('category')
bekasi['URL']=bekasi['URL'].astype('category')
bekasi['deskripsi']=bekasi['deskripsi'].astype('category')
bekasi.dtypes

created_at     category
LT              float64
LB              float64
KT              float64
KM              float64
garasi          float64
carport         float64
lokasi         category
sertifikat     category
listrik         float64
hadap          category
harga           float64
URL            category
deskripsi      category
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
Unnamed: 19     float64
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
dtype: object

##Bogor

## **2.**

Apakah ada saran perbaikan data ke DE/DBA perusahaan agar RPPI menjadi data driven company yang unggul.

Sebaiknya data dapat lebih simpan dengan efisien agar mudah ketika diolah, seperti tipe data object diubah langsung menjadi category, kemudian penanganan missing values lebih ditingkatkan. Selain itu, terdapat kolom 14-25 yang tidak memiliki atribut apapun. Hal tersebut dapat memperlambat analisis data dikarenakan memori berlebih yang dibutuhkan.

## **3.**

Dari data yang ada, apakah ada kecenderungan rumah disuatu kota lebih mahal/murah dibandingkan kota lain?

## **4.**

Dari data yang ada, apakah bisa dibuat rekomendasi sebaiknya RPPI membuat kantor cabang berikutnya di kota mana? Mengapa? (Asumsikan RPPI belum memiliki cabang di kota-kota yang disebutkan di data).

In [ ]:
data=jakarta.set_index('')

In [ ]:
#Menggabungkan Dataframe Indo20, Indo21, Indo22
gabung = tangerang.append(indo21)
gabung = mob.append(indo22)

In [ ]:
row=pd.concat([jakarta,tangerang])
print("Row-wise-concat:\n",row)

In [ ]:
df_jakarta = jakarta[['created_at', 'LT', 'LB', 'KT', 'KM', 'garasi', 'carport', 'lokasi','sertifikat', 'listrik', 'hadap', 'harga', 'URL', 'deskripsi']]
df_depok = depok[['created_at', 'LT', 'LB', 'KT', 'KM', 'garasi', 'carport', 'lokasi','sertifikat', 'listrik', 'hadap', 'harga', 'URL', 'deskripsi']]
df_tangerang = tangerang[['created_at', 'LT', 'LB', 'KT', 'KM', 'garasi', 'carport', 'lokasi','sertifikat', 'listrik', 'hadap', 'harga', 'URL', 'deskripsi']]
df_bekasi = bekasi[['created_at', 'LT', 'LB', 'KT', 'KM', 'garasi', 'carport', 'lokasi','sertifikat', 'listrik', 'hadap', 'harga', 'URL', 'deskripsi']]

In [ ]:
# Create new kolom `Kota` to identify the source from each database

df_jakarta['Kota'] = ['Jakarta' for i in range(df_jakarta.shape[0])]
df_bekasi['Kota'] = ['Bekasi' for i in range(df_bekasi.shape[0])]
df_depok['Kota'] = ['Depok' for i in range(df_depok.shape[0])]
df_tangerang['Kota'] = ['Tangerang' for i in range(df_tangerang.shape[0])]

In [ ]:
df_full = pd.concat([df_jakarta,df_bekasi,df_depok,df_tangerang], axis = 0, ignore_index = True)

In [ ]:
df_full.isnull().sum()

created_at    0
LT            0
LB            0
KT            0
KM            0
garasi        0
carport       0
lokasi        0
sertifikat    0
listrik       0
hadap         0
harga         0
URL           0
deskripsi     0
Kota          0
dtype: int64

In [ ]:
df_full

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi,Kota
0,12-06-2021,72.0,45.0,2.0,1.0,1.0,1.0,"SEPATAN, TANGERANG",SHM,1300.0,Selatan,148.0,https://www.rumah123.com/properti/tangerang/ho...,"Akses Bandara Soekarno-Hatta, Jalan Row 10 met...",Tangerang
1,12-06-2021,151.0,120.0,2.0,2.0,1.0,1.0,"CIKUPA CITRA JAYA, TANGERANG",SHM,1300.0,Selatan,760.0,https://www.rumah123.com/properti/tangerang/ho...,Lokasi rumah sangat strategis dekat fasilitas ...,Tangerang
2,12-06-2021,60.0,48.0,3.0,2.0,2.0,2.0,"PONDOK JAGUNG, TANGERANG",SHM,2200.0,Tenggara,600.0,https://www.rumah123.com/properti/tangerang/ho...,Memiliki lokasi yang strategis yaitu 100 meter...,Tangerang
3,12-06-2021,72.0,40.0,2.0,1.0,1.0,1.0,"CIKUPA CITRA JAYA, TANGERANG",SHM,1300.0,Timur,500.0,https://www.rumah123.com/properti/tangerang/ho...,Keamanan 24 jam dan sangat strategis,Tangerang
4,12-06-2021,250.0,360.0,5.0,4.0,1.0,1.0,"BENDA, TANGERANG",SHM,4400.0,Timur,2900.0,https://www.rumah123.com/properti/tangerang/ho...,"Memiliki lantai granit, 1 gudang, Water heater...",Tangerang
5,12-06-2021,60.0,48.0,3.0,2.0,2.0,2.0,"BSD CITY, TANGERANG",SHM,2200.0,Selatan,600.0,https://www.rumah123.com/properti/tangerang/ho...,BOSTON VILLAGE BSD- BINTARO\nAkses 100 Meter d...,Tangerang
6,12-06-2021,320.0,225.0,3.0,3.0,1.0,1.0,"BSD THE ICON, TANGERANG","lainnya(PPJB, GIRIK, ADAT, dll)",4400.0,Barat Daya,5300.0,https://www.rumah123.com/properti/tangerang/ho...,"Rumah cluster, siap huni, bersih terawat, ling...",Tangerang
7,12-06-2021,474.0,500.0,6.0,5.0,4.0,2.0,"BSD DE PARK, TANGERANG",SHM,23000.0,Utara,12500.0,https://www.rumah123.com/properti/tangerang/ho...,"LT 474, LB +/- 500 (full renovated), KT 6+2, K...",Tangerang
8,12-06-2021,250.0,380.0,6.0,4.0,1.0,1.0,"BSD, TANGERANG",SHM,5500.0,Barat,5050.0,https://www.rumah123.com/properti/tangerang/ho...,"Rumah di kawasan BSD, Luas tanah : 250 m2, Lua...",Tangerang
9,12-06-2021,144.0,117.0,3.0,3.0,1.0,1.0,"BANJAR WIJAYA, TANGERANG",SHM,2200.0,Utara,1950.0,https://www.rumah123.com/properti/tangerang/ho...,"Memiliki fasilitas keamanan, Masjid, Jogging T...",Tangerang
10,12-06-2021,180.0,250.0,5.0,4.0,1.0,1.0,"BSD, TANGERANG",SHM,3500.0,Selatan,3300.0,https://www.rumah123.com/properti/tangerang/ho...,Dijual Rumah Terawat dan Rapih Siap Huni di BS...,Tangerang
11,12-06-2021,308.0,492.0,4.0,4.0,2.0,2.0,"BSD FORESTA, TANGERANG","lainnya(PPJB, GIRIK, ADAT, dll)",2200.0,Utara,7700.0,https://www.rumah123.com/properti/tangerang/ho...,"Dijual Rumah Brand New Bsd City: Foresta, Luas...",Tangerang
12,12-07-2021,276.0,441.0,4.0,4.0,2.0,2.0,"BSD, TANGERANG",SHM,11000.0,Timur Laut,1260.0,https://www.rumah123.com/properti/tangerang/ho...,Cluster Laurel at Navapark. Modern Tropical Li...,Tangerang
13,12-08-2021,300.0,148.0,4.0,3.0,2.0,2.0,"PONDOK CABE, TANGERANG",SHM,2200.0,Timur,1900.0,https://www.rumah123.com/properti/tangerang/ho...,"DIJUAL DI BAWAH HARGA PASAR, HARGA PASARAN MAS...",Tangerang
14,12-08-2021,202.0,85.0,4.0,3.0,1.0,1.0,"BSD Griya Loka, Tangerang",SHM,2200.0,Barat,1860.0,https://www.rumah123.com/properti/tangerang/ho...,"1-7 km ke Stasiun Rawa Buntu, Rs Eka Hospital,...",Tangerang